@charset "UTF-8";
body h1 {
	font-family: Arial;
	border-bottom: 1px solid #B1B1B1;
}
body pre {
	font-size: 16px;
	background-color: #EAEAEA;
	padding: 15px;
	margin: 10px 0px;
	border: 1px solid #7F7F7F;
	white-space: pre-wrap;
	font-weight: bold;
}
body p {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body h2 {
	font-family: arial;
}
aside {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.banner {
	margin: 30px;
	padding: 30px;
	font-size: 20px;
	border: solid 1px #996600;
	background-color: #FFF966;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
img {
	margin: 30px 0px;
}
